version: '3.8'

services:
  bot:
    build: .
    container_name: maincomby_bot
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - DATABASE_URL=sqlite+aiosqlite:///./data/bot.db
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
